@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    width: 100%;
}

/* Inicio - Header Contacto */

.contenedor-contacto{
    background-color:#f8f8f8;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;  
}

.header-contacto{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:auto;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    font-weight: 200;
}

.header-contacto a{
    text-decoration: none;
    color: #7B7B7B;
    font-size: 12px;
}

.informacion-contacto i{
    padding-right: 4px;
}

.informacion-contacto a{
    padding-left: 10px;
}

.redes-contacto a{
    cursor: pointer;
    font-size: 15px;
}

.redes-contacto i {
    line-height: 25px;
    width: 35px;
    text-align: center;
}

.redes-contacto .primero{
    border-left: 1px solid #DBDBDB;
}

.redes-contacto .fa-twitter{
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
}

.redes-contacto .fa-instagram{
    border-right: 1px solid #DBDBDB;
}

.redes-contacto .fa-google-plus{
    border-right: 1px solid #DBDBDB;
}


.redes-contacto .primero:hover{
    color: #3A5795;
}

.redes-contacto .fa-twitter:hover{
    color: #5EA9DD;
}

.redes-contacto .fa-instagram:hover{
    color: #C32AA3;
}
.redes-contacto .fa-google-plus:hover{
    color: #d64937;
}

/* Fin - Header Contacto */

/* Inicio - Header Nav */

.contenedor-nav{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
}

.logo img{
    width: 120px;
    height: 50px;
    cursor: pointer;
}

.barra-nav ul{
    list-style: none; 
}

.barra-nav ul li{
    float: left;
    margin:0 10px;
}

.barra-nav ul li a{
    text-decoration: none;
    line-height: 50px;
    color:#333;
}

.panel a{
    text-decoration: none;
    color:#333;
    line-height: 50px;
}

.barra-nav ul li a:hover,
.panel a:hover
{
    color:#005C97;
}

.barra{
    line-height: 50px;
    display: none;
}

/* Fin - Header Nav */

/* Inicio - Servicios */

.principal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    font-size: 16px;
}

.img1{
    background: url(../img/Portada-01.png);
}

.img2{
    background: url(../img/Portada-02.png);
}

.img3{
    background: url(../img/Portada-03.jpeg);
}

.img4{
    background: url(../img/Portada-04.jpg);
}

.img1,.img2,.img3,.img4{
    background-size: cover;
    flex: 50%;
    height: 21.875rem;
}

.img1:before,
.img2:before,
.img3:before,
.img4:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
    /* Efecto Oscuro a las imagenes */
}

.servicio{
    position: relative;
    color: #fff;
    cursor: pointer;
}

.contenido-servicio{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.625rem;
    margin-right: 3.125rem;
}

.contenido-servicio p{
    margin-bottom: 0.9375rem;
}

.contenido-servicio a{
    text-decoration: none;
    color: #fff;
    padding: 0.625rem 1.25rem;
    background: #6FB371;
    border-radius: 4px;
    transition: all ease 1s;
}

.contenido-servicio a:hover{
    background: #396afc;
}

/* Fin - Servicios */

/* Inicio - Informacion */

.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    height: 15.625rem;
}

.informacion h3{
    margin: 15px 0;
    color: #484848;
    font-size: 1.375rem;
}

.contenedor-informacion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.img-informacion{
    width: 25rem;
}

.img-informacion img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenido-informacion{
    width: 25rem;
}

.contenido-informacion p{
    margin-bottom: 1.25rem;
}

.contenido-informacion a{
    text-decoration: none;
    padding: 0.625rem 0.9375rem;
    background-color: #a8c0ff;
    color: #fff;
    border-radius: 5px;
    transition: all ease 1s;
}

.contenido-informacion a:hover{
    background-color: #3f2b96;
}

/* Inicio - Informacion */

/* Inicio  - Footer */

footer{
    width: 100%;
    text-align: center;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;  
    height: 40px;
}

footer p{
    font-size: 14px;
    line-height: 40px;
}

/* Fin  - Footer */

@media screen and (max-width:800px){

    .servicio{
        flex: 100%;
        height: 300px;
        font-size: 15px;
    }

    .img1,.img2,.img3,.img4{
        height: 250px;
    }

    .informacion{
        height: 450px;
    }
}


@media screen and (max-width:800px){
    .informacion {
        height: 450px;
    }
}

@media screen and (max-width:600px){

    .principal{
        font-size: 14px;
    }

    .contenedor-contacto{
        display: none;
    }

    .panel{
        display: none;
    }
    
    .servicio{
        font-size: 14px;
    }

    .img1,.img2,.img3,.img4{
        height: 250px;
    }

    .informacion{
        height: 380px;
    }

    .informacion h3{
        font-size: 18px;
    }

    .informacion p,
    .informacion a{
        font-size: 14px;
    }

    .informacion a{
        display: block;
        width: 110px;
        margin: 0 auto;
    }
    
    .barra{
        display: block;
        cursor: pointer;      
    }

    .barra:hover{
        color:#005C97;
    }

    .barra-nav{
        position: absolute;
        top: 50px;
        left: 0;
        background: #fff;
        width: 100%;
        overflow: hidden;
    }

    .barra-nav ul{
        margin-left: 25%;
    }

    .abrir {
        height: 100px;
    }

}

@media screen and (max-width:450px){

    .informacion {
        height: 440px;
    }

    .informacion h3{
        font-size: 16px;
    }

    .informacion p{
        font-size: 12px;
        line-height: 20px;
    }

 

    footer p{
        font-size: 12px;
    }
}
